<a href="https://colab.research.google.com/github/PowerSH/AI_Course/blob/master/01_HelloPython.ipynb" target="_parent"><img src="https://colab.research.google.com/assets/colab-badge.svg" alt="Open In Colab"/></a>

# Python tutorial #1

This page was created for students to learn Python in the AI class (717005) at Hanlim University.

## Basic data types

In [0]:
x = 3
print(type(x)) # Prints "<class 'int'>"
print(x)       # Prints "3"
print(x + 1)   # Addition; prints "4"
print(x - 1)   # Subtraction; prints "2"
print(x * 2)   # Multiplication; prints "6"
print(x ** 2)  # Exponentiation; prints "9"
x += 1
print(x)  # Prints "4"
x *= 2
print(x)  # Prints "8"

<type 'int'>
3
4
2
6
9
4
8

In [0]:
y = 2.5
print(type(y)) # Prints "<class 'float'>"
print(y, y + 1, y * 2, y ** 2) # Prints "2.5 3.5 5.0 6.25"

<type 'float'>
(2.5, 3.5, 5.0, 6.25)

## String

In [0]:
name = 'Bob'
print('Hello, {}'.format(name))

Hello, Bob

## For statement

range

In [0]:
A = range(5)
print(A)

[0, 1, 2, 3, 4]

In [0]:
print(A[2])

2

In [0]:
for i in range(5):
    print(i, A[i])

(0, 0)
(1, 1)
(2, 2)
(3, 3)
(4, 4)

In [0]:
for i in range(3):
  for j in range(2):
    print('{} + {} = {}'.format(i, j, i+j))

0 + 0 = 0
0 + 1 = 1
1 + 0 = 1
1 + 1 = 2
2 + 0 = 2
2 + 1 = 3

HW : Implement the multiplication table (구구단)

## Operators

### + operator

In [0]:
print((1, 2, 3) + (4, 5, 6))
print([1, 2, 3] + [4, 5, 6])
print("Hello" + " " + "World")

(1, 2, 3, 4, 5, 6)
[1, 2, 3, 4, 5, 6]
Hello World

### * operator
The * operator produces a new tuple, list, or string that "repeats" the original content.

In [0]:
print((1, 2, 3) * 3)
print([1, 2, 3] * 3)
print("Hello "*3)

(1, 2, 3, 1, 2, 3, 1, 2, 3)
[1, 2, 3, 1, 2, 3, 1, 2, 3]
Hello Hello Hello

## Containers
Python includes several built-in container types: lists, dictionaries, sets, and tuples.

### Tuple
A simple immutable (변경할 수 없는, 불변의) ordered sequence of items

In [0]:
# -*- coding: utf-8 -*-
# creating a tuple
months = ('January','February','March','April','May','June',\
'July','August','September','October','November','December')

print(months[0])
print("index of 7 ==> " , months[7])

January
('index of 7 ==> ', 'August')

To print one by one

In [0]:
# iterate through them:
for item in months:
    print (item)

January
February
March
April
May
June
July
August
September
October
November
December

In [0]:
t = ('john', 32, (2,3,4,5), 'hello')
print(t)
print(t[2])
print(t[2][1])
print(t[:2]) # index NOT included
print(t[2:]) # index included O

print(t[-1])
print(t[-2])

('john', 32, (2, 3, 4, 5), 'hello')
(2, 3, 4, 5)
3
('john', 32)
((2, 3, 4, 5), 'hello')
hello
(2, 3, 4, 5)

### List
Mutable (바꿀수 있는, 변경가능한) ordered sequence of items of mixed types

In [0]:
li = ['hallym', 1, 3.141572, 'hello']
print(li)
li[1] = 45
print(li)
li.append('September')
print(li)

['hallym', 1, 3.141572, 'hello']
['hallym', 45, 3.141572, 'hello']
['hallym', 45, 3.141572, 'hello', 'September']

In [0]:
v = [] # 작업을 실행하기 전 빈 공간
for i in range(0,3): # i는 0 부터 3 미만까지
    v.append(i) # v에 i를 추가한다.
    print(v) # v의 목록 전체를 출력한다.

[0]
[0, 1]
[0, 1, 2]